
@media screen and (min-width: 500px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 570px) {
  html {
    font-size: 12px;
  }
  }

@media screen and (min-width: 620px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 680px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 13px;
  }
    }

@media screen and (min-width: 990px) {
  html {
   
    }
        }
  
  
  
    